@model HomeRoom.Web.Models.Gradebook.ClassAssignmentViewModel

<form id="classAssignmentForm" class="form-horizontal" method="post" action="@Url.Action("Assignment", "Assignment")">
    @Html.HiddenFor(model => model.AssignmentId)
    @Html.HiddenFor(model => model.ClassId)

    <div class="form-group">
        <div class="col-sm-4">
            <label class="control-label">Assignment Type</label>
        </div>
        <div class="col-sm-8">
            @Html.DropDownListFor(model => model.AssignmentTypeId, Model.AssignmentTypeSelectList, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-4">
            <label class="control-label">Name</label>
        </div>
        <div class="col-sm-8">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Name of Assignment Type" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-4">
            <label class="control-label">Description</label>
        </div>
        <div class="col-sm-8">
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "Description of Assignment" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-4">
            <label class="control-label">Start Date</label>
        </div>
        <div class="col-sm-8">
            <div class="input-group date" id="assignmentStartDate">
                @Html.TextBoxFor(model => model.StartDate, new {@class = "form-control", placeholder = "Start Date"})
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>

        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-4">
            <label class="control-label">Due Date</label>
        </div>
        <div class="col-sm-8">
            <div class="input-group date" id="assignmentDueDate">
                @Html.TextBoxFor(model => model.DueDate, new { @class = "form-control", placeholder = "Due Date" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>

        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-4">
            <label class="control-label">Assignment Status</label>
        </div>
        <div class="col-sm-8">
            @Html.EnumDropDownListFor(model => model.Status, new { @class = "form-control" })
        </div>
    </div>
</form>
