@model HomeRoom.Web.Models.Account.ChangePasswordViewModel
    
<form id="changePasswordForm" class="form-horizontal" method="post" action="@Url.Action("ChangePassword", "Account")">
    @Html.HiddenFor(model => model.AccountId)

    <div class="form-group">
        <div class="col-sm-3">
            <label class="control-label">Current Password</label>
        </div>
        <div class="col-sm-9">
            @Html.PasswordFor(model => model.OldPassword, new {@class= "form-control", placeholder = "Current Password"})
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-3">
            <label class="control-label">New Password</label>
        </div>
        <div class="col-sm-9">
            @Html.PasswordFor(model => model.NewPassword, new {@class = "form-control", placeholder = "New Password"})
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-3">
            <label class="control-label">New Password (Confirm)</label>
        </div>
        <div class="col-sm-9">
            @Html.PasswordFor(model => model.NewPasswordConfirm, new { @class = "form-control", placeholder = "Confirm New Password" })
        </div>
    </div>
</form>
