@using HomeRoom.Enumerations
@model HomeRoom.Web.Models.Membership.UserViewModel

<form id="usersForm" action="@Url.Action("Users", "Users")" method="post" class="form-horizontal">
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        <div class="col-sm-3">
            <label class="control-label">First Name</label>
        </div>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.FirstName, new {@class = "form-control", placeholder = "First Name"})
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-3">
            <label class="control-label">Last Name</label>
        </div>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.LastName, new {@class = "form-control", placeholder = "Last Name"})


        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-3">
            <label class="control-label">Email</label>
        </div>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.Email, new {@class = "form-control", placeholder = "Email Address"})


        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-3">
            <label class="control-label">Gender</label>
        </div>
        <div class="col-sm-9">
            @Html.EnumDropDownListFor(model => model.Gender, new {@class = "form-control"})
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-3">
            <label class="control-label">Account Type</label>
        </div>
        <div class="col-sm-9">
            @Html.EnumDropDownListFor(model => model.AccountType, new {@class = "form-control"})
        </div>
    </div>

</form>