@using Abp.Web.Mvc.Extensions
@model HomeRoom.Web.Models.Student.ViewClassViewModel

@{
    var classDivId = string.Format("class_{0}", Model.ClassId);
    ViewBag.Title = string.Format("Manage Course-{0}", Model.ClassName);
}

@section styles
{
    @Html.IncludeStyle("~/Content/dragula.css")
}

@section scripts
{
    @Html.IncludeScript("~/Scripts/dragula.js")
    @Html.IncludeScript("~/Views/Student/ClassAnnouncements.js")
    @Html.IncludeScript("~/Views/Student/ClassAssignments.js")
    @Html.IncludeScript("~/Views/Student/ClassGradeBook.js")
}

<h2>@Model.ClassName</h2>

@Html.HiddenFor(model => model.ClassId)


<div id="@classDivId">
    <div id="manageClassNavigation">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#dashboard" data-tab="dashboard" aria-controls="dashboard" data-toggle="tab" role="tab">Dashboard</a></li>          
            <li role="presentation" class=""><a href="#manageAssignments" data-tab="manageAssignments" aria-controls="manageAssignments" data-toggle="tab" role="tab">Assignments</a></li>
            <li role="presentation" class=""><a href="#manageGradebook" data-tab="manageGradebook" aria-controls="manageGradebook" data-toggle="tab" role="tab">Gradebook</a></li>     
        </ul>
    </div>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="dashboard">@Html.Action("StudentClassDashboard", "Student", new {classId = Model.ClassId})</div>
        <div role="tabpanel" class="tab-pane fade" id="manageAssignments">@Html.Action("StudentClassAssignments", "Student")</div>
        <div role="tabpanel" class="tab-pane fade" id="manageGradebook">@Html.Action("StudentClassGradeBook", "Student", new {classId = Model.ClassId})</div>
    </div>
</div>

