@using HomeRoom.Enumerations
@model HomeRoom.Web.Models.TestGenerator.ViewAssignmentViewModel
    
@{
    var questionNumber = 1;
}


@foreach (var question in Model.Questions)
{
    <div class="form-group">
        <div class="col-sm-12">
            <label class="control-label">@questionNumber) - @question.Question (@question.PointValue Points)</label>
        </div>
        <div class="col-sm-12">
            @if (question.Type == QuestionType.ShortAnswer)
            {
                @Html.TextArea("questionAnswer", new { @class = "form-control" })
            }
            else
            {
                foreach (var choice in question.AnswerChoices)
                {
                    <label>
                        @Html.RadioButton("answerChoice[]", choice.Id)
                        @choice.ChoiceValue

                    </label>

                    <br />
                }
            }
            <br />
        </div>
    </div>

    questionNumber++;
}

